# build artifacts
bin/
obj/

# git
.git/
.gitignore

# logs
*.log

# node
**/node_modules/

# runtime data (OK)
api/public
api/storage

# opcjonalne serwisy (ale NIE jeśli są potrzebne do builda!)
# AssetValidationService
# game-server
# economy-chat
# deployment
# 2021-roblox
